@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");
@import "tailwindcss";
body {
  font-family: "Roboto Slab", serif;
}

@keyframes bounce-custom {
  0% {
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);
  }
  50% {
    box-shadow: 0 0 25px 8px rgba(0, 0, 0, 0.4);
  }
  100% {
    box-shadow: 0 0 15px 3px rgba(0, 0, 0, 0.1);
  }
}
